/* 수정 금지 */
html {
  font-size: 10px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: normal;
  color: black;
}
.main {
  box-sizing: border-box;
  width: 980px;
  padding: 20px;
  margin: 0 auto;
  background: lightgray;
}
.main-heading {
  text-align: center;
  font-size: 2rem;
}
section {
  width: 100%;
  margin: 20px 0;
  background: lightsteelblue;
}
.heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: blue;
}

/* 코드는 이 곳에서부터 작성합니다. */
/* 미리 제공된 CSS 선택자 외에 추가로 필요한 선택자가 있을 경우 추가하셔도됩니다. */

/* 문제 1 */
.news-link {
  background: teal;
  width: 50%;
  display: block;
  text-decoration: none;
  margin-top: 10px;
  padding: 10px;
}
.news-item {
  background: yellowgreen;
  padding-left: 130px;
}
.news-item-heading {
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: flex-start;
}
.news-item-brief {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-item-thumbnail {
  float: left;
  position: relative;
  left: -130px;
  top: -130px;
  transform: translate(0px, 50%);
  width: 120px;
}

/* 문제 3 */
.flex-container {
  background: yellowgreen;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.flex-item {
  display: flex;
  background: tomato;
  border: 2px dashed red;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
}

/* 문제 4 */
.smile-face {
  width: 200px;
  height: 200px;
  background-image: url(./smile.jpg);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  animation: move 1s 2s linear infinite alternate;
  transform-origin: 50% 50%;
}
@keyframes move {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(800px, 0px) rotate(360deg);
  }
}
.smile-face:hover {
  animation-play-state: paused;
}
.q4 {
  padding-left: 10px;
  padding-right: 10px;
}
