.container {
  width: 400px;
  /* 코드 작성 */
  position: absolute;
}

.item {
  width: 100px;
  height: 100px;
  /* 코드 작성 */
  position: relative;
  float:left;
}

.item:nth-child(1) {
  background-color: pink;
  /* 코드 작성 */
  position: relative;
  width:200px;
  height:200px;
  float: right;
}

.item:nth-child(2) {
  background-color: yellow;
}

.item:nth-child(3) {
  background-color: lightGreen;
}

.item:nth-child(4) {
  background-color: skyBlue;
  /* 코드 작성 */
}

.item:nth-child(5) {
  background-color: lightGrey;
  /* 코드 작성 */
}
